{#
/**
 * @file
 * Profile example custom block.
 */
#}
 <div class="example-custom--block">
    <h1>{{ title }}</h1>
    Welcome to <strong>{{ site_slogan }}</strong><br/>
    Nid 1 has title: <strong>{{ get_node_title(1) }}</strong>
    <p>{{ description }}</p>
 </div>